# Нормализация признаков

In [56]:
import numpy as np
from sklearn.linear_model import Perceptron
import pandas as pd
from sklearn.metrics import accuracy_score
from sklearn.preprocessing import StandardScaler

In [57]:
data_test = pd.read_csv('perceptron-test.csv', names = ['target', 'obj1', 'obj2'])
data_train = pd.read_csv('perceptron-train.csv', names = ['target', 'obj1', 'obj2'])

In [58]:
data_test.head(5)

   target      obj1         obj2
0    -1.0  1.651437  1337.453826
1     1.0 -0.866495  1191.232457
2    -1.0  0.789828  -475.647768
3    -1.0  0.179549  1959.095353
4     1.0 -0.434351   568.504207

In [59]:
data_train.head(5)

   target      obj1         obj2
0    -1.0 -0.024626  1174.600238
1     1.0 -0.978058  1083.198803
2    -1.0  0.314272 -1472.977609
3    -1.0  0.179752   231.017267
4     1.0 -1.262544  -778.271726

In [60]:
X_train = data_train.drop('target',1)
y_train = data_train.target
X_test = data_test.drop('target',1)
y_test = data_test.target

In [68]:
clf = Perceptron()
clf.fit(X_train, y_train)
predictions = clf.predict(X_test)

In [62]:
accuracy_1 = accuracy_score(y_test, predictions)
accuracy_1

0.655

#### Нормализуем выборку

In [63]:
scaler = StandardScaler()
scaler.fit_transform(X_train)

X_train_scaled = scaler.transform(X_train)
X_test_scaled = scaler.transform(X_test)

In [69]:
clf_scaled = Perceptron()
clf_scaled.fit(X_train_scaled, y_train)
predictions_scaled = clf_scaled.predict(X_test_scaled)

In [70]:
accuracy_2 = accuracy_score(y_test, predictions_scaled)
round(accuracy_2 - accuracy_1,3)

0.19